/* #left-links {
    border: 3px solid #588CD3;
    background-color: #588CD3;
    box-shadow: 10px 10px #205AA8;
    margin-left: 2%;
    margin-top: 2%;
    padding: 15px;
    color: white;
}

#left-links > a > a:active {
    font-weight: bold;
}

iframe {
    border: 5px solid #588CD3;
}

iframe {
    display: block;
    position: relative;
    width: 100%;
    height: 98vh;
} */

.container-fluid {
    width: 100vw;
}

.fab, .far, .fas {
    margin-top: 10px;
    letter-spacing: 5px;
    color: white;
  }

#left-menu {
    background-color: rgb(32, 44, 58);
    color: white;
    border-right: 7px white solid;
}

#right-body {
    padding: 0px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

iframe {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
}

#page-title {
    text-align: center;
    margin-top: 5%;
}

a {
    color: white;
}

a:hover {
    color: white;
    cursor: pointer;
}

#links-fragment > a:focus {
    background-color: white;
    color: rgb(32, 44, 58);
    font-weight: bold;
}

#band {
    background-color: rgb(32, 44, 58);
    border: none;
    margin-left: -8px;
    margin-top: 5px;
    vertical-align: top;
}

.fill {
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

/* rectangles */
#sq1 {
    width: 45vw;
    height: 40vh;
    margin-top: 2vh;
    margin-left: 2vw;
}
#sq4 {
    width: 45vw;
    height: 40vh;
    margin-top: -35vh;
    margin-left: 25vw;
}

/* squares */
#sq2 {
    width: 30vw;
    height: 50vh;
    margin-top: -35vh;
    float: right;
    margin-right: 2vw;
}
#sq3 {
    width: 30vw;
    height: 50vh;
    margin-left: 4vw;
    margin-top: -4vh;
}